/* GENERAL */
.idCol {
    min-width: 70px;
}

.fechaCol {
    min-width: 210px;
}

.title {
    color: #edc988 !important;
    text-shadow: .08em .08em 0 rgba(234, 84, 85, 0.8);
    font-weight: bold;
}

.editForm > div {
    margin-top: 4px;
}

/* HOME */
.imgPerfil {
    width: 250px;
    border-radius: 30px;
}
.imgPerfil:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 #ea5455;
}

/* USUARIOS */
#usuarios {
    color: #eeeeee;
}
#usuarios p {
    text-align: center;
    margin: 0;
}
    #usuarios .short {
        min-width: 1vw;
        margin: 0 1em 0 1em;
    }
    #usuarios .medium {
        min-width: 5vw;
        margin: 0 1em 0 1em;
    }
    #usuarios .large {
        min-width: 10vw;
        margin: 0 1em 0 1em;
    }
    #usuarios .larger {
        min-width: 15vw;
        margin: 0 1em 0 1em;
    }

#usuarios #usuariosCards span {
    border-right: 1px solid grey;
}

/* PRODUCTOS y CATEGORIAS */
#productos {
    color: #eeeeee;
}
#productos p {
    text-align: center;
    margin: 0;
}
    #productos .short {
        width: 50px;
        margin: 0 1em 0 1em;
    }
    #productos .medium {
        width: 100px;
        margin: 0 1em 0 1em;
    }
    #productos .large {
        min-width: 150px;
        margin: 0 1em 0 1em;
    }
    #productos .larger {
        min-width: 310px;
        margin: 0 1em 0 1em;
    }

#productos #productosCards span {
    border-right: 1px solid grey;
}

.imgProd {
    width: 550px;
    border-radius: 10px;
}
.imgProdEdit {
    width: 300px;
}
.imgProd:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 #ea5455;
}
